@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
html {
  font-family: "Nunito", sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #e6dddd;
}

p {
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 20%;
  color: #455963;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.header {
  display: flex;
  flex-direction: row;
  border-radius: 12px 12px 0px 0px;
  background-color: white;
  z-index: 10;
}
.header .todo-header_items {
  display: flex;
  align-items: center;
  margin-left: 32px;
}
.header .header-input {
  width: 220px;
  height: 20px;
  padding: 10px 20px;
  font-size: 15px;
  border: 0px solid black;
  border-width: 0px 0px 0px 0px;
}
.header .header-input:focus {
  outline: none;
}
.header .header-btn-addTask {
  margin: 0px 7px 0px 15px;
}
.header .header-btn-addTask button {
  background-color: grey;
  border: 0px;
  border-radius: 2px 2px 2px 2px;
  display: flex;
  align-items: center;
}
.header .header-btn-addTask .bi:active {
  color: white;
  background-color: rgb(196, 195, 195);
}

.taskLists {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: rgb(223, 223, 223);
  padding: 0.5px 0px 0.5px 0px;
  max-height: 29vh;
  overflow: auto;
  font-size: 15.5px;
}
.taskLists .task {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px 20px;
}
.taskLists .task .task-status {
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  cursor: pointer;
}
.taskLists .task .task-status:checked {
  width: 18px;
  height: 18px;
  background-image: url(../check-lg.svg);
  border: 2px solid white;
  border: 50%;
  background-color: red;
  background-position: center;
}
.taskLists .task .btn-like {
  width: 18px;
  height: 18px;
  overflow: hidden;
  border: 0px;
  background-color: transparent;
  background-image: url(../heart.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.taskLists .task .like-icon {
  width: 18px;
  height: 18px;
  overflow: hidden;
  border: 0px;
  background-image: url(../heart.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.taskLists .task .like-icon-full {
  width: 18px;
  height: 18px;
  overflow: hidden;
  border: 0px;
  background-image: url(../check2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.taskLists .task .btn-like:active {
  background-color: red;
}
.taskLists .task .btn-delete {
  width: 18px;
  height: 18px;
  overflow: hidden;
  border: 0px;
  background-color: transparent;
  background-image: url(../x-circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.footer {
  background-color: white;
  border-radius: 0px 0px 12px 12px;
  height: 30px;
  position: relative;
}/*# sourceMappingURL=index.css.map */